@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");

:root {
  /* Primary */
  --cyan-prim: hsl(172, 67%, 45%);
  /* Neutral */
  --cyan-neu-10: hsl(183, 100%, 15%);
  --cyan-neu-8: hsl(186, 14%, 43%);
  --cyan-neu-6: hsl(184, 14%, 56%);
  --cyan-neu-4: hsl(185, 41%, 84%);
  --cyan-neu-2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  /* Accent */
  --red: hsl(14, 45%, 57%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--cyan-neu-4);
  height: 100vh;
}

.main-padding {
  padding: 1.5rem;
}
.sub-padding {
  padding: 0.5rem;
}
.margin-bottom {
  margin-bottom: 2rem;
}

.logo {
  text-align: center;
  padding: 1.7rem 0 2.3rem 0;
}

.tip-calculator {
  background-color: var(--white);
  border-radius: 1.4rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  color: var(--cyan-neu-8);
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input {
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 5px;
  padding-right: 18px;
  text-align: right;
  font-size: 24px;
  font-family: inherit;
  font-weight: 700;
  color: var(--cyan-neu-10);
  background: var(--cyan-neu-4) 20px no-repeat;
}

input::placeholder {
  color: var(--cyan-neu-6);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--cyan-prim);
  background-color: var(--cyan-neu-2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bill-input {
  background-image: url("../images/icon-dollar.svg");
}

.tip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tips {
  background-color: var(--cyan-neu-10);
  color: var(--white);
  border-radius: 4px;
  height: 3rem;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips:hover {
  background-color: var(--cyan-neu-4);
  /* background-color: var(--cyan-prim); */
  color: var(--cyan-neu-10);
  font-weight: 700;
}

.active-tip {
  font-weight: 700;
  background-color: var(--cyan-prim);
  color: var(--cyan-neu-10);
}

.tip-custom::placeholder {
  color: var(--cyan-neu-8);
}

.peopleLabel {
  display: flex;
  justify-content: space-between;
}

.error:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--red);
  color: var(--red);
  background-color: var(--cyan-neu-2);
}

.people-input {
  background-image: url("../images/icon-person.svg");
}

.error {
  color: var(--red);
}

.result {
  color: var(--white);
  background-color: var(--cyan-neu-10);
  border-radius: 12px;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tip-amount,
.total {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.text {
  color: var(--white);
  margin-bottom: 0;
}
.person {
  font-size: 15px;
  /* font-weight: 700; */
  color: var(--cyan-neu-6);
}
.amount {
  font-size: 2rem;
  color: var(--cyan-prim);
  /* font-weight: 700; */
}

.reset {
  text-transform: uppercase;
  height: 3rem;
  background-color: var(--cyan-prim);
  color: var(--cyan-neu-10);
  font-weight: 700;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset:hover {
  background-color: var(--cyan-neu-4);
  font-weight: 700;
}

@media only screen and (min-width: 40em) {
  .main-padding {
    padding: 2rem;
  }
  .sub-padding {
    padding: 1rem;
  }
  .margin-bottom {
    margin-bottom: 3rem;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tip-calculator {
    flex-direction: row;
    gap: 2rem;
    border-radius: 1.4rem;
  }
  .tip {
    grid-template-columns: repeat(3, 117px);
    row-gap: 1.2em;
    column-gap: 17px;
  }

  .result {
    height: 25rem;
    aspect-ratio: 1;
  }

  .amount {
    font-size: 3rem;
  }
}
.attribution {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
