@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  /* Primary */
  --cyan-prim: hsl(187, 69%, 55%);

  /* Neutral */
  --cyan-neu-9: hsl(189, 85%, 28%);
  --cyan-neu-7: hsl(188, 83%, 37%);
  --cyan-neu-3: hsl(187, 74%, 65%);
  --cyan-neu-1: hsl(185, 84%, 88%);
  --white: hsl(0, 0%, 100%);

  /* Accent */
  --red-accent: hsl(6, 71%, 50%);
}

/* General styling */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  height: 100vh;
  background-color: var(--cyan-neu-1);
}

.main-padding {
  padding: 1.5rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

label,
input {
  display: block;
}

input,
button {
  font-size: 1.5rem;
  font-family: inherit;
  border-radius: 0.4rem;
  font-weight: 700;
  border: none;
}
label {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  font-weight: 700;
}

input {
  width: 100%;
  height: 3rem;
  text-align: right;
  padding: 1em;
  color: var(--cyan-neu-9);
  background: var(--cyan-neu-1) 20px no-repeat;
}

input::placeholder {
  color: var(--cyan-neu-7);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--cyan-prim);
  background-color: var(--cyan-neu-1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  width: 100%;
  height: 3rem;
  background-color: var(--cyan-neu-9);
  color: var(--white);
  cursor: pointer;
  transition: all 0.3s;
}

button:hover:not(.active-tip) {
  background-color: var(--cyan-neu-3);
  color: var(--cyan-neu-9);
}

.active-tip {
  background-color: var(--cyan-prim);
  color: var(--cyan-neu-9);
}

p {
  font-size: 1rem;
  color: var(--cyan-neu-3);
}

.people-info,
.result,
.amount,
.portion,
.total {
  display: flex;
  justify-content: space-between;
}

/* Calculator styling */
.logo {
  display: block;
  margin: 2.5em auto 2em auto;
}

.bill-input {
  background-image: url(../images/icon-dollar.svg);
}

.people-input {
  background-image: url(../images/icon-person.svg);
}

.container {
  background-color: var(--white);
  min-width: 29.25rem;
  max-width: min(29.25rem, 90%);
  border-radius: 1rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
}

.bill-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.tip-percent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.custom-input {
  font-size: 1.2rem;
}

.error {
  color: var(--red-accent);
  opacity: 0;
}

.error-input-highlight:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--red-accent);
  background-color: var(--cyan-neu-3);
}

.show-error-message {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.result {
  padding: 1.5rem;
  background-color: var(--cyan-neu-9);
  border-radius: 0.7rem;
  flex-direction: column;
}

.result-info {
  gap: 1.5rem;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.result-label {
  color: var(--cyan-neu-1);
  white-space: nowrap;
}

.dollar {
  color: var(--cyan-prim);
  font-size: 2.5rem;
  overflow: auto;
}

.reset-button {
  background-color: var(--cyan-prim);
  color: var(--cyan-neu-9);
  text-transform: uppercase;
  font-size: 1rem;
}
/* For tablet minimum screen size of 768px */
@media screen and (min-width: 62.5em) {
  .main-padding {
    padding: 2rem;
  }

  .main-margin {
    margin: 1rem;
  }

  .container {
    max-width: min(57.5rem, 90%);
    flex-direction: row;
    gap: 2rem;
  }

  .bill-info {
    gap: 3rem;
  }

  .tip-percent {
    grid-template-columns: repeat(3, 1fr);
  }
  .result {
    width: 26rem;
    aspect-ratio: 1;
    padding: 2.5em;
  }

  .amount,
  .portion,
  .total {
    gap: 5rem;
  }
}
